:root {
    --border_color: rgb(90, 21, 21, 0.7);
    --tab_Background_Color: rgba(0, 0, 0, 0.52);
    --redGlow_Effect: 0 0 10px rgba(80, 15, 15, 0.7), 0 0 20px rgba(80, 15, 15, 0.5);
}

body {
    height: 100vh;
    margin: 0;
    margin-top: 0% !important;
    align-items: center;
    color: white;

    background: linear-gradient(135deg, #000000, #ff0000,
            #000000, #7d0101, #000000, #ff0000, #000000);
    background-size: 200% 200%;
    animation: backgroundEffect 10s ease infinite;
    
    background-color: #7d0101;
}

@keyframes backgroundEffect {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Content center align content */
.centerAlign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}


/* Selecting panned for the game type */
.selectOption {
    a {
        text-decoration: none;
    }

    #backBtn {
        color: white;
        width: 60px;
        margin: 10px;
        padding: 8px;
        text-align: center;
        border: 1px solid;
        border-radius: 5px;
        border-color: var(--border_color);
        box-shadow: var(--redGlow_Effect);
        background-color: var(--tab_Background_Color);
    }

    #backBtn:hover {
        background-color: #2a0000;
    }

    

    .Btns {
        width: 40%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(2, auto);
        text-align: center;

        section {
            margin: 20px;
            border: 3px solid;
            border-radius: 50%;
            border-color: var(--border_color);
            box-shadow: var(--redGlow_Effect);
            background-color: var(--tab_Background_Color);

            p {
                font-size: clamp(1rem, 1.5vw + 1rem, 2rem);
                font-weight: bold;
                padding: 5px;
            }
        }

        section:hover {
            background-color: rgb(76, 0, 0);
        }
    }
}


/* Game block and template styling */
.xox_Game {
    display: none;
}

.bloxs {
    width: 390px;
    height: auto;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    /* background-color: blue; */

    p {
        width: 100px;
        height: 100px;
        margin: 10px;
        border: 3px solid white;
        border-radius: 10px;
        border-color: var(--border_color);
        box-shadow: var(--redGlow_Effect);
        background-color: var(--tab_Background_Color);


        padding: 2px;
        text-align: center;
        font-size: 93px;
    }

    p:hover {
        background-color: #400000;
    }
}


/* GameOver Screen styling */
.gameOver {
    h1 {
        font-size: clamp(1rem, 1.5vw + 1rem, 3rem);
        text-align: center;
    }

    table {
        width: 60%;
        margin: 0 auto;
        margin-top: 5% !important;
        text-align: center;
        font-size: clamp(1rem, 1.5vw + 1rem, 2rem);

        td {
            width: 20%;
            border: 3px solid;
            border-radius: 5px;
            border-color: var(--border_color);
            box-shadow: var(--redGlow_Effect);
            background-color: var(--tab_Background_Color);
        }
    }

    h2 {
        margin-top: 50px;
        text-align: center;
        font-size: clamp(1rem, 1.5vw + 1rem, 2rem);
    }

    section {
        width: 50%;
        margin: 0 auto;
        margin-top: 10% !important;
        text-align: center;
        font-size: clamp(1rem, 1.5vw + 1rem, 1.5rem);
        border: 2px solid;
        border-color: var(--border_color);
        box-shadow: var(--redGlow_Effect);
        background-color: #2a0000;
    }

    section:hover {
        background-color: #400000;
    }
}


/* Screen sizing */
@media screen and (max-width: 1300px) {
    .Btns {
        width: 90% !important;
    }
}


@media screen and (max-width: 600px) {
    .Btns {
        width: 90% !important;

        section {
            border-radius: 10px !important;

            p {
                padding: 5px !important;
            }
        }
    }

    .bloxs {
        width: 240px;
        margin: 0 auto;
        margin-top: 30% !important;

        p {
            width: 50px;
            height: 50px;
            font-size: 45px;
        }
    }
}